h1 {
    background-color: cornflowerblue;
    color: whitesmoke;
}

img {
    height: 50vh;
}

button {
    background-color: red;
    color: white;
    padding: 15px 15px;
}

@media (max-width: 750px) {
    section {
        background-color: blue;
        color: white;
    }

    div {
        background-color: aqua;
        color: white;
    }

    button {
        background-color: cornflowerblue;
        color: cornsilk;
    }
}